<!-- Navbar -->
<nav class="navbar navbar-light">
  <!-- Container -->
  <div class="container">
    <!-- Brand/Logo -->
    <a class="navbar-brand" routerLink="/">conduit</a>

    <!-- Menu -->
    <ul class="nav navbar-nav pull-xs-right">
      <!-- Menu Item -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <!-- Menu Item -->
      <li class="nav-item">
        <a class="nav-link">Sign in</a>
      </li>
      <!-- Menu Item -->
      <li class="nav-item">
        <a class="nav-link">Sign up</a>
      </li>
    </ul>
  </div>
</nav>
